.product-card{
    width: 20%;
    margin: 20px;
}

.products-grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

h1, .search-container {
    margin: 20px;
}

.button-ajout{
    margin-left: 20px;
}